.formWrapper {
    width: 80%;
    margin: auto;
}

.mainField {
    margin-top: 1rem;
    font-weight: bold;
}

.nestedField {
    max-width: 100%;
    padding-left: 1rem;
}

.btnSave {
    margin-top: 1rem;
}

.btnExit {
    margin-top: 2rem;
}
