main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.formWrapper {
    width: 100%;
    max-width: 20rem;
}

.submitBtn {
    margin-top: 1rem;
}

.navigateBtn {
    max-width: 20rem;
}
