#fontUrl

body {
    background: #backgroundColor;
    font-family: #fontFamily;
    color: #fontColor;
}

.heading-block {
    width: 100%;
    margin: #heading.margin;
    font-size: #heading.fontSize;
    font-weight: #heading.fontWeight;
}

.paragraph-block {
    width: 100%;
    margin: #paragraph.margin;
    font-size: #paragraph.fontSize;
    font-weight: #paragraph.fontWeight;
}

.divider-block {
    width: 1rem 100%;
    margin: auto;
}

.callout-block {
    width: 100%;
    margin: auto;
    background: yellow;
}

.list-item-block {
    width: 100%;
    margin: auto;
}

.todo-block {
    width: 100%;
    margin: auto;
}

.image-block {
    width: 100%;
    margin: auto;
}

.file-block {
    width: 100%;
    margin: auto;
}
