#fontUrl

body {
    background: #backgroundColor;
    font-family: #fontFamily;
    color: #fontColor;
}

.heading-block {
    width: 100%;
    margin: #heading.margin;
    font-size: #heading.fontSize;
    font-weight: #heading.fontWeight;
}

.paragraph-block {
    width: 100%;
    margin: #paragraph.margin;
    font-size: #paragraph.fontSize;
    font-weight: #paragraph.fontWeight;
}

.divider-block {
    width: 100%;
    margin: #divider.margin;
}

.callout-block {
    width: 100%;
    margin: #callout.margin;
    font-size: #callout.fontSize;
    font-weight: #callout.fontWeight;
    background: yellow;
}

.list-item-block {
    width: 100%;
    margin: #listItem.margin;
    font-size: #listItem.fontSize;
    font-weight: #listItem.fontWeight;
}

.todo-block {
    width: 100%;
    margin: #todoItem.margin;
    font-size: #todoItem.fontSize;
    font-weight: #todoItem.fontWeight;
}

.image-block {
    width: 100%;
    margin: #image.margin;
    font-size: #image.fontSize;
    font-weight: #image.fontWeight;
}

.file-block {
    width: 100%;
    margin: #file.margin;
    font-size: #file.fontSize;
    font-weight: #file.fontWeight;
}
